# Generate .env file if it does not exist
if [[ ! -f .env ]]; then
	cp .env.example .env
fi

# Open .env file in the default editor
${EDITOR:-${VISUAL:-vi}} .env

# Export all env vars from the .env file
export $(grep -v '^#' .env | xargs)
