{$DOMAIN} {
	# Send API requests to backend

	handle /rest/* {
		reverse_proxy backend:8080
	}

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle {
		# Serve everything else from the file system
		root * /app

		try_files {path} /index.html

		# Compress responses according to Accept-Encoding headers
		encode gzip zstd

		file_server
	}
}
